---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$body-font-family: 'Lato';
$header-font-family: 'Abril Fatface';
$white: #FAFAFA;
$primary-color: #FFAB00;


$topbar-background: $white;

@import "foundation";

@include foundation-everything;

@import "hero";