---
layout: default
---

<div class="row">

	<ul class="posts columns center medium-8 large-6">
		{% for post in site.posts %}
			<li class="posts_post">
				<div class="author">
					<img class="author_image" src="https://www.gravatar.com/avatar/{{ post.authorPhoto }}?s=100">
					<div class="author_meta">
						<div class="author_title">
							{{ post.author }}
						</div>
						<div class="author_postMeta">
							{% assign readTime = {{ post.content | size | divided_by: 260 }} %}
							{{ post.date | date: "%-d/%m/%y" }} • {% if readTime > 0 %}{{ readTime }}{% else %}1{% endif %} min read
						</div>
					</div>
				</div>
				{% if post.banner %}
					<a class="banner" 
					href="{{ post.url | prepend: site.baseurl }}"
					style="background-image: url('{{ post.banner }}');"></a>
				{% endif %}
				<div class="post_body">
					<a class="post_link" href="{{ post.url | prepend: site.baseurl }}">
						<h3 class="post_title">{{ post.title }}</h3>
						<p class="post_excerpt">{{ post.content | strip_html | truncatewords: 50 }}</p>
					</a>
				</div>
			</li>
		{% endfor %}
	</ul>

</div>