---
layout: default
---

<div class="row">

	<ul class="article center columns medium-10 large-8">
		{% for person in site.data.team %}
			{% if person.name and person.title and person.blurb and person.photo %}
				<li class="row article_row">
					<div class="columns small-12 medium-6">
						<img class="article_image" src="https://www.gravatar.com/avatar/{{ person.photo }}?s=100">
						<div class="article_information">
							<p>{{ person.name }} - <span class="article_description">{{ person.title }}</span></p>
							<ul class="article_contact">
								{% if {{person.twitter}} %}
								<li>
									<a href="https://twitter.com/{{ person.twitter }}" class="article_twitter twitter-follow-button" data-show-count="false">Follow @{{ person.twitter }}</a>
								</li>
								{% endif %}
								{% if {{person.email}} %}
								<li>
									<a href="mailto:{{ person.email }}">{{ person.email }}</a>
								</li>
								{% endif %}
								{% if {{person.phone}} %}
								<li>
									<a href="tel:{{ person.phone }}">{{ person.phone }}</a>
								</li>
								{% endif %}
							</ul>
							
							
						</div>
					</div>
					<div class="columns small-12 medium-6">
						<p>{{ person.blurb }}</p>
					</div>
				</li>
			{% endif %}
		{% endfor %}
	</ul>

	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>