<div class="top-bar row">
	<div class="top-bar-left">
		<h1><a href="/">{{ site.name | upcase }}</a></h1>
	</div>
	<div class="top-bar-right">
		<ul class="menu vertical text-right">
			<li><a href="tel:01233800991">0123 3800 991 &nbsp; <i class="fa fa-phone"></i></a></li>
			<li><a href="mailto:hello@thnkr.co.uk" target="_top">hello@thnkr.co.uk &nbsp; <i class="fa fa-envelope"></i></a></li>
      <li><a href="/blog" target="_top">Blog &nbsp; <i class="fa fa-pencil"></i></a></li>
		</ul>
	</div>
</div>
