.posts {
	margin: 0;
}
.post {
	list-style: none;
	padding: 0;
	&_meta {
		text-align: right;
	}
	&_image {
		width: 100px;
		border-radius: 50%;
		padding: 4px;
		border: solid 1px $primary-color;
		background: #fff;
		float: right;
		margin-left: 1em;
	}
}