---
layout: default
---

{% if page.banner %}<div class="banner banner-large" style="background-image:url({{ page.banner }})"></div>{% endif %}

<div class="row">
  <header class="column medium-7 center">
	<div class="author">
		<img class="author_image" src="https://www.gravatar.com/avatar/{{ page.authorPhoto }}?s=100">
		<div class="author_meta">
			<div class="author_title">
				{{ page.author }}
			</div>
			<div class="author_postMeta">
				{% assign readTime = {{ page.content | size | divided_by: 260 }} %}
				{{ page.date | date: "%-d/%m/%y" }} • {% if readTime > 0 %}{{ readTime }}{% else %}1{% endif %} min read
			</div>
		</div>
	</div>
	<h1 class="banner_title">{{ page.title }}</h1>
  </header>
</div>

<div class="row">
  <article class="column medium-7 center">
    {{ content }}
  </article>
</div>